/* ******* */
/* common */
/* ******* */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: 'Playfair Display', serif;
  }

  .aish-primary{
    color:crimson;
     text-shadow: 1px 1px;

  }
  a {
    
    color:palevioletred;
    
  }
  a:hover {
    opacity: 0.9;
    text-decoration: none;
    
  }
  a:active {
    opacity: 1;
  }
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 10px;
    /* background: red; */
    
  }
  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* ******* */
  /* header */
  /* ******* */
  header {
    background: #eee;
    padding: 5px 0;
  }
  header img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid black;
  }
  header nav a {
    margin-left: 10px;
  }
  header nav a i {
    margin-right: 5px;
  }

  
    
  
  /* ******* */
  /* About page */
  /* ******* */
  .about-page {
    padding: 100px 0;
  }
  .about-page h1 {
    font-weight: 800;
    margin-bottom: 40px;
  }

  /* ******* */
  /* Card page */
  /* ******* */

  .card-first{
    
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;  
    padding: 10px 10px 10px 20px;
    background-color:#FFF8DC; 
   
     
    
    
  }
  
  .card-deck{
    display: flex; 
  
    
  }
  
  .card{
    width: 28%;
    height: 300px;
    margin: auto;
    background-color:#F08080;
    color:black; 
    padding: 10px 10px; 
    border-radius: 12px;
    font-size: large;
    text-shadow: 1px 0.5px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px 10px grey;
    
  }
  .card :hover{
    opacity: 0.9;
    color: blue;
    text-decoration: none;
   
  }
  .github-primary{
    color: whitesmoke;
    
  }
  .card-title{
    color: white;
    text-shadow: black;
    font-family: math;
  }


  /* ******* */
  /* footer */
  /* ******* */
  footer {
    background: #eee;
    padding: 30px 0;
    text-align: center;
    background-color:grey;
    color: bisque;
  
  }


  /* ***************************************************************************** 
                 mobile responsive
   ***************************************************************************** */
  
  
  @media only screen and (max-width: 600px) {
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 0 5px;
      /* background: red; */
      
    }
    .aish-primary{
      color:crimson;
       text-shadow: 1px 1px;
       font-size: 20px;
       margin-left: 20px;
       
    }
    header {
      background: #eee;
      padding: 2px 0;
    }
    header img {
      width: 15px;
      border-radius: 50%;
      border: 1px solid black;
    }
    header nav a {
      margin-left: 30px;
    }
    header nav a i {
      margin-right: 5px;
    }


    .card-title{
      color: white;
      text-shadow: black;
      font-family: math;
      font-size: 20px;
    }

    .card-text{
      font-size: 15px;
    }
    .github-primary{
      font-size: 13px;
    }
  }